In [1]:
import pandas as pd
import numpy as np

In [2]:
# setup
df = pd.read_csv('../data/processed/neighborhood_complete.csv')

In [32]:
df['avgBuiltEnvScore']

0     2.5
1     4.5
2     4.0
3     2.0
4     1.0
     ...
73    3.0
74    3.0
75    2.5
76    3.0
77    1.0
Name: avgBuiltEnvScore, Length: 78, dtype: float64

In [4]:
list(df.columns)

['neighborhood',
 'program_count',
 'total_cime_incidents',
 'theft_from_motor_vehicle',
 'auto_theft',
 'public_disorder',
 'larceny',
 'all_other_crimes',
 'burglary',
 'drug_alcohol',
 'other_crimes_against_persons',
 'aggravated_assault',
 'robbery',
 'white_collar_crime',
 'arson',
 'murder',
 'OBJECTID_1',
 'GLOBALID',
 'avgsocioeconscore',
 'avgAccessToCareScore',
 'avgMobidityScore',
 'mortalityscore',
 'avgBuiltEnvScore',
 'avgOverallEquityScore',
 'Shape__Area_x',
 'Shape__Length_x',
 'OBJECTID',
 'Neighborhood Name',
 'Total Population All',
 'Hispanic or Latino',
 'White',
 'Black',
 'Native American',
 'Asian',
 'Hawaiian/Pacific Islander',
 'Other Race',
 'Two or More',
 'Percent Hispanic',
 'Percent White',
 'Percent Black',
 'Percent Native American',
 'Percent Asian',
 'Percent Hawaiian/Pacific Islander',
 'Percent Other Race',
 'Percent Two or More Races',
 'MALE',
 'FEMALE',
 'Age Less Than 5',
 'Age 5 to 9',
 'Age 10 to 14',
 'Age 15 to 17',
 'Age 0 to 9',
 'Age 10 to 19',
 'Age 20 to 29',
 'Age 30 to 39',
 'Age 40 to 49',
 'Age 50 to 59',
 'Age 60 to 69',
 'Age 70 to 79',
 'Age Over 80',
 'Age Less than 18',
 'Age Over 65',
 'Percent Age Less Than 18',
 'Percent Age Over 65',
 'Median Age All',
 'Median Age Male',
 'Median Age Female',
 'Total Population 3 or Higher',
 'Enrolled in School',
 'Nursery or Preschool',
 'KINDERGARTEN',
 'Grades 1 to 4',
 'Grades 5 to 8',
 'Grades 9 to 12',
 'College Undergraduate',
 'Graduate School',
 'Not Enrolled',
 'Total Commuters',
 'Commute Less than 15 Minutes',
 'Commute 15 to 30 Minutes',
 'Commute 30 to 45 Minutes',
 'Commute 45 to 60 Minutes',
 'Commute Over 60 Minutes',
 'Total Population Over 25',
 'Less Than HS Diploma',
 'HS Graduate or Equivalent',
 'Some College or AA',
 'Bachelors or Higher',
 'Total Population 5 and Over',
 'Only English',
 'Spanish',
 'Total Housing Units',
 'Occupied Housing Units',
 'Vacant Housing Units',
 'Owner Occupied Housing Units',
 'Renter Occupied Housing Units',
 'Total Households',
 'Family Households',
 'Married Couple Family',
 'Other Family',
 'Male Householder No Wife Present',
 'Female Householder No Husband Present',
 'Non Family Household',
 'Householder Alone',
 'Householder Not Alone',
 'Household Income Less 10000',
 'Household Income 10000 to 14999',
 'Household Income 15000 to 19999',
 'Household Income 20000 to 24999',
 'Household Income 25000 to 29999',
 'Household Income 30000 to 34999',
 'Household Income 35000 to 39999',
 'Household Income 40000 to 44999',
 'Household Income 45000 to 49999',
 'Household Income 50000 to 59999',
 'Household Income 60000 to 74999',
 'Household Income 75000 to 99999',
 'Household Income 100000 to 124999',
 'Household Income 125000 to 149999',
 'Household Income 150000 to 199999',
 'Household Income Over 200000',
 'Median Household Income',
 'Median Family Income',
 'Per Capita Income',
 'Average Household Income',
 'Average Family Income',
 'Median Earnings',
 'Median Earnings Male',
 'Median Earnings Female',
 'Median Earnings Less HS',
 'Median Earnings HS',
 'Median Earnings Some College',
 'Median Earnings Bachelor',
 'Median Earnings Graduate',
 'Median Year Built',
 'Built 2014 or Later',
 'Built 2010 to 2013',
 'Built 2000 to 2009',
 'Built 1990 to 1999',
 'Built 1980 to 1989',
 'Built 1970 to 1979',
 'Built 1960 to 1969',
 'Built 1950 to 1959',
 'Built 1940 to 1949',
 'Built 1939 or Earlier',
 'Median Contract Rent',
 'Median Gross Rent',
 'Median Home Value',
 'Native Born',
 'Foreign Born FB',
 'Europe FB',
 'Northern Europe FB',
 'Western Europe FB',
 'Southern Europe FB',
 'Eastern Europe FB',
 'Asia FB',
 'Eastern Asia FB',
 'South Central Asia FB',
 'South Eastern Asia FB',
 'Western Asia FB',
 'Africa FB',
 'Eastern Africa FB',
 'Middle Africa FB',
 'Southern Africa FB',
 'Western Africa FB',
 'Oceania FB',
 'Americas FB',
 'Latin America FB',
 'Carribean FB',
 'Central America FB',
 'South America FB',
 'North America FB',
 'Percent Living in Poverty',
 'Percent Families in Poverty',
 'GlobalID',
 'Shape__Area_y',
 'Shape__Length_y']

In [27]:
# dropping more columns
clean_df = df[['neighborhood', 'program_count', 'total_cime_incidents', 'theft_from_motor_vehicle', 'auto_theft', 'public_disorder', 'larceny', 'all_other_crimes', 'burglary', 'drug_alcohol', 'other_crimes_against_persons', 'aggravated_assault', 'robbery', 'white_collar_crime', 'arson', 'murder', 'avgsocioeconscore', 'avgAccessToCareScore', 'avgMobidityScore', 'mortalityscore', 'avgBuiltEnvScore', 'avgOverallEquityScore', 'Total Population All', 'Percent Hispanic', 'Percent White', 'Percent Black', 'Percent Native American', 'Percent Asian', 'Percent Hawaiian/Pacific Islander', 'Percent Other Race', 'Percent Two or More Races', 'Median Household Income', 'Per Capita Income']].copy()

In [28]:
clean_df.dtypes

neighborhood                          object
program_count                        float64
total_cime_incidents                   int64
theft_from_motor_vehicle               int64
auto_theft                             int64
public_disorder                        int64
larceny                                int64
all_other_crimes                       int64
burglary                               int64
drug_alcohol                           int64
other_crimes_against_persons           int64
aggravated_assault                     int64
robbery                                int64
white_collar_crime                     int64
arson                                  int64
murder                                 int64
avgsocioeconscore                    float64
avgAccessToCareScore                 float64
avgMobidityScore                     float64
mortalityscore                         int64
avgBuiltEnvScore                     float64
avgOverallEquityScore                float64
Total Population All                   int64
Percent Hispanic                     float64
Percent White                        float64
Percent Black                        float64
Percent Native American              float64
Percent Asian                        float64
Percent Hawaiian/Pacific Islander    float64
Percent Other Race                   float64
Percent Two or More Races            float64
Median Household Income                int64
Per Capita Income                      int64
dtype: object

In [29]:
clean_df["crime_per1000"] = (clean_df['total_cime_incidents'] / clean_df['Total Population All']) * 1000
clean_df["theft_mv_per1000"] = (clean_df['theft_from_motor_vehicle'] / clean_df['Total Population All']) * 1000
clean_df["auto_theft_per1000"] = (clean_df['auto_theft'] / clean_df['Total Population All']) * 1000
clean_df["disorder_per1000"] = (clean_df['public_disorder'] / clean_df['Total Population All']) * 1000
clean_df["larceny_per1000"] = (clean_df['larceny'] / clean_df['Total Population All']) * 1000
clean_df["other_per1000"] = (clean_df['all_other_crimes'] / clean_df['Total Population All']) * 1000
clean_df["burglary_per1000"] = (clean_df['burglary'] / clean_df['Total Population All']) * 1000
clean_df["drug_alcohol_per1000"] = (clean_df['drug_alcohol'] / clean_df['Total Population All']) * 1000
clean_df["crime_against_persons_per1000"] = (clean_df['other_crimes_against_persons'] / clean_df['Total Population All']) * 1000
clean_df["assult_per1000"] = (clean_df['aggravated_assault'] / clean_df['Total Population All']) * 1000
clean_df["robbery_per1000"] = (clean_df['robbery'] / clean_df['Total Population All']) * 1000
clean_df["white_collar_per1000"] = (clean_df['white_collar_crime'] / clean_df['Total Population All']) * 1000
clean_df["arson_per1000"] = (clean_df['arson'] / clean_df['Total Population All']) * 1000
clean_df["murder_per1000"] = (clean_df['murder'] / clean_df['Total Population All']) * 1000

In [30]:
clean_df.head()

,neighborhood,program_count,total_cime_incidents,theft_from_motor_vehicle,auto_theft,public_disorder,larceny,all_other_crimes,burglary,drug_alcohol,...,larceny_per1000,other_per1000,burglary_per1000,drug_alcohol_per1000,crime_against_persons_per1000,assult_per1000,robbery_per1000,white_collar_per1000,arson_per1000,murder_per1000
0,Athmar Park,500.0,3429,527,540,511,343,529,294,231,...,38.748305,59.760506,33.212833,26.095798,15.815635,20.560325,6.891098,5.874379,1.242657,0.903751
1,Auraria,13.0,2815,249,159,387,379,1173,69,140,...,528.591353,1635.983264,96.234310,195.258020,214.783821,83.682008,23.709902,29.288703,8.368201,1.394700
2,Baker,341.0,6489,1087,875,1058,1289,480,565,465,...,200.217459,74.557316,87.760174,72.227400,34.482759,32.463498,19.415968,13.513514,3.883194,0.310655
3,Barnum,437.0,2712,280,338,382,198,732,182,222,...,33.525229,123.941754,30.816119,37.588893,14.900102,29.800203,7.450051,6.772773,4.402303,0.677277
4,Barnum West,233.0,1609,228,265,208,106,418,100,98,...,20.068156,79.136691,18.932223,18.553578,7.572889,17.417645,3.029156,5.868989,0.757289,0.567967

In [31]:
# create new csv
clean_df.to_csv("../data/processed/neighborhood_crime_counts.csv", index=False)